header {
  background-color: #1477aa;
  color: white;
  padding: 16px;
  font-weight: bold; }

.container {
  margin-top: 24px; }

.table-products {
  margin-top: 24px;
  width: 100%; }
  .table-products thead td {
    margin: 0 1px 1px 0;
    background-color: #5fafda;
    padding: 8px;
    color: white;
    font-weight: bold; }
  .table-products td {
    padding: 8px; }
